<%= render 'home/navbar' %>

<div class="show-race" class="page">

  <h2>
    <%= @race.name %>
  </h2>

  <p>
    <strong>Details:</strong>
    <%= @race.details %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @race.date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @race.address %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= @race.distance %>
  </p>

  <%= link_to 'Edit', edit_race_path(@race) %> |
</div>