<div class="show-race">
  <%= render 'home/navbar' %>

  <p>
    <strong>Name:</strong>
    <%= @race.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= @race.details %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @race.date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @race.address %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= @race.distance %>
  </p>

  <%= link_to 'Edit', edit_race_path(@race) %> |
  <%= link_to 'Back', races_path %>
</div>