<%= render 'home/navbar' %>

<div class="race-page" class="page">

  <div class="race">

    <h2 style="display: inline-block;"><%= @race.name %></h2> | <%= link_to 'Edit', edit_race_path(@race) %> 

    <p>
      <strong>Date:</strong>
      <%= @race.date %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @race.address %>
    </p>

    <p>
      <strong>Details:</strong>
      <%= @race.details %>
    </p>

    <p>
      <strong>Distance:</strong>
      <%= @race.distance %>
    </p>

  </div>
</div>