<%= render 'home/navbar' %>

<div class="search-page">

	<div class="search-results">

		<h1>People</h1>

<% @results.each do |user| %>
	  <div>
	    <table>
	        <tr>
	          <td><%= image_tag user.photo.url(:thumb) %></td>
	          <td>
	          <a style="font-size: 1.05em;" href="/users/<%= user.id %>">
	            <%= user.full_name %><br>

				  <%= link_to( "Add friend", friendship_path(friend_id: user.id)) unless @current_user.is_friend?(user) %>

	          </a>
	          </td>
	        </tr>
	    </table>
	  </div>
	  <br>
<% end %>

</div>
</div>
