<%= render 'home/navbar' %>

<div class="profile-page" class="page">

	<p id="notice"><%= notice %></p>

	<h1><%= @user.first_name %> <%= @user.last_name %></h1>

	<%= image_tag @user.photo.url(:medium) %>

	<%= link_to 'Edit', edit_user_path(@user) %> |

	<h2>Upcoming Races</h2>

	<table>

	  <tbody>
	    <% @user.races.each do |race| %>
	      <tr>
	      	<% if race.id == @current_user.id %>
	      	<td><%= link_to 'x', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      	<% end %>
	      	<td><%= race.date %></td>
	      	<td><%= race.address %></td>
	        <td><%= link_to race.name, race %></td>
	        <td><%= race.details %></td>
	        <td><%= race.distance %></td>
	        <% if race.id == @current_user.id %>
	        <td><%= link_to 'Edit', edit_race_path(race) %></td>
	          <% if race.id == @current_user.id %>
	       <td><%= link_to 'New Race', new_race_path %></td>
	    <% end %>
	    
	        <% end %>
	      </tr>
	    <% end %>
	    
	        
	  </tbody>
	</table>

	<h2>Your Posts</h2>
	<table>

	  <tbody>
	    <% @user.posts.each do |post| %>
	      <tr>
	      	<td><%= link_to 'x', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        <td><%= link_to post.title, post %></td>
	        <td><%= post.body %></td>
	        <% if post.user_id == @current_user.id %>
	        <td><%= link_to 'Edit', edit_post_path(post) %></td>
	        <td><%= link_to 'Create New Post', new_post_path %></td>
	        <% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	</div>

</div>
