<%= render 'home/navbar' %>

<div class="home-page" class="page">

  <p id="notice"><%= notice %></p>

    <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <div class="all-posts">

    <% @posts.each do |post| %>
  <div>
    <table>
        <tr>
          <td><%= image_tag post.user.photo.url(:thumb) %></td>
          <td>
          <strong style="font-size: 1.25em;"><%= link_to post.title, post %></strong><br>
          <a style="font-size: 1.05em;" href="/users/<%= post.user.id %>">
            <%= post.user.first_name + " " + post.user.last_name %>
          </a>
          </td>
        </tr>
    </table>
        <%= post.body %>
        <p><%=post.created_at.in_time_zone(-4).strftime("%a %b %e, %Y %I:%M %p") %></p>

  </div>
  <br>
  <% end %>

  </div>

  <div class="all-races">

    <h2>Upcoming Races</h2>

    <table>
      <tbody>
        <% @races.each do |race| %>
          <tr>

            <td><%= race.date.strftime("%b %d") %></td>

            <td><%= link_to race.name, race %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <!-- If no current user, go to login page -->
  <% else %>

    <%= render 'home/login' %>

  <% end %>

</div>