<div class="home-page">

  <p id="notice"><%= notice %></p>

  <%= render 'home/navbar' %>

    <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <h1>Newsfeed</h1>
  <% @posts.each do |post| %>


  <p><a href="/users/<%= post.user.id %>">
    <%= post.user.first_name + " " + post.user.last_name %></a></p>
      <strong><%= post.title %></strong>
      <br>
      <%= post.body %>
  <% end %>

  <!-- If no current user, go to login page -->
  <% else %>

    <%= render 'home/login' %>

  <% end %>

</div>