<%= render 'home/navbar' %>

<div class="home-page" class="page">

  <p id="notice"><%= notice %></p>

    <!-- If there is a current user, display home page -->
  <% if @current_user %>

  <div class="all-posts">
    <h1>Newsfeed</h1>
    <% @posts.each do |post| %>


    <p><a href="/users/<%= post.user.id %>">
      <%= post.user.first_name + " " + post.user.last_name %></a></p>
        <strong><%= link_to post.title, post %></strong>
        <br>
        <%= post.body %>
    <% end %>

  </div>

  <div class="all-races">

    <h2>Upcoming Races</h2>

    <table>
      <tbody>
        <% @races.each do |race| %>
          <tr>
            <td><%= link_to 'x', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= race.date %></td>
            <td><%= race.address %></td>
            <td><%= link_to race.name, race %></td>
            <td><%= race.details %></td>
            <td><%= race.distance %></td>
            <td><%= link_to 'Edit', edit_race_path(race) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <!-- If no current user, go to login page -->
  <% else %>

    <%= render 'home/login' %>

  <% end %>

</div>