<%= render 'home/navbar' %>

<div class="distance-group" class="page">
	<div class="distance">

	<h1><%= @distance.description %> Running Group</h1>

<% @users.each do |user| %>
	  <div>
	    <table>
	        <tr>
	          <td><%= image_tag user.photo.url(:thumb) %></td>
	          <td>
	          <a style="font-size: 1.05em; font-weight: bold;" href="/users/<%= user.id %>">
	            <%= user.first_name + " " + user.last_name %>
	          </a><br>
	          <%= link_to 'Add friend', friendship_path(friend_id: user.id), method: :post, data: { confirm: 'Are you sure?' } %>
	          </td>
	        </tr>
	    </table>
	  </div>
	  <br>
<% end %>

	  </div>

	</div>

</div>
